.row-construction-info {
    border: 3px solid #d3d3d3;
    background-color: #f9f9f9;
    clear: both;
    font-size: 13px;
    padding: 11px 15px;
    position: relative;
    width: 1011px
}

.row-construction-info:after {
    visibility: hidden;
    display: block;
    content: "";
    clear: both;
    height: 0
}

.row-construction-info .col-left {
    float: left;
    width: 270px
}

.row-construction-info .col-right {
    float: right;
    width: 741px
}

.row-construction-info dt {
    float: left;
    font-weight: 700;
    text-align: right;
    min-height: 20px;
    padding-top: 2px
}

.row-construction-info dd {
    float: left;
    padding-left: 10px;
    min-height: 20px;
    padding-top: 2px
}

.row-construction-info .col-left dt {
    width: 150px
}

.row-construction-info .col-left dd {
    width: 150px
}

.row-construction-info .col-right dt {
    width: 161px
}

.row-construction-info .col-right dd {
    width: 461px
}

.row-construction-info .row {
}

.row-construction-info .row:after {
    visibility: hidden;
    display: block;
    content: "";
    clear: both;
    height: 0
}

.row-construction-info .data,.row-construction-info .label {
    padding: 2px 0
}

.row-construction-info .row.location .data img {
    vertical-align: middle;
    margin-top: -3px
}

.row-construction-info .col-left .label {
    width: 120px;
    font-weight: 700;
    float: left;
    text-align: right
}

.row-construction-info .col-left .data {
    width: 140px;
    float: left;
    padding-left: 10px
}

.row-construction-info .col-right .label {
    float: left;
    font-weight: 700;
    text-align: right;
    width: 211px
}

.row-construction-info .col-right .data {
    float: left;
    padding-left: 10px;
    width: 520px
}

.row-construction-info .col-right .data a {
    white-space: nowrap
}

#above_threadlist {
    float: none
}

.row-new-post-title {
    margin: 15px 0 0
}

.row-new-post-title.statustitle strong {
    height: 16px;
    display: block;
    text-indent: -2000px;
    width: 140px;
    background-position: -714px 0
}

.row-new-post {
    clear: both;
    font-size: 13px;
    position: relative;
    width: 1040px
}

.row-new-post:after,.row-new-post .col .col-inner:after {
    visibility: hidden;
    display: block;
    content: "";
    clear: both;
    height: 0
}

.row-new-post .col {
    width: 344px
}

.row-new-post .col:last-child {
    width: 344px
}

.row-new-post .col .col-inner {
    position: relative;
    margin: 35px 0 35px 0;
    padding: 5px 0 0 5px;
    background-color: #f3f3f3;
    height: 85px
}

.row-new-post .col table {
    height: 100%;
    position: relative;
    top: -35px
}

.row-new-post .col td {
    vertical-align: top
}

.row-new-post .col td.img {
    vertical-align: middle
}

.row-new-post .img-link {
    display: table-cell;
    background-color: #e0e0e0;
    height: 146px;
    text-align: center;
    vertical-align: middle
}

.row-new-post .img-link img {
    max-height: 145px;
    max-width: 193px
}

.row-new-post .info-link {
    padding-left: 7px;
    padding-top: 5px;
    position: relative;
    height: 145px
}

.row-new-post .info-link .date {
    display: block;
    font-size: 13px;
    font-weight: 700
}

.row-new-post .info-link .title {
    display: block;
    color: #3e3e3e;
    font-size: 22px;
    margin: 14px 0 15px;
    max-height: 81px;
    overflow: hidden
}

.row-new-post .info-link .country {
    display: block;
    position: absolute;
    bottom: 1px;
    left: 7px
}

.row-new-post .info-link .country a {
    color: #3e3e3e;
    font-size: 13px
}

.row-new-post .info-link .country img {
    vertical-align: middle;
    margin-top: -3px;
    margin-right: 1px
}

.col-inner:hover .info-link .date,.col-inner:hover .info-link .title,.col-inner:hover .info-link .country a {
    color: #d3080c
}

.contact-row {
}

.contact-row:after {
    visibility: hidden;
    display: block;
    content: "";
    clear: both;
    height: 0
}

.contact-col {
    float: left
}

.contact-col-info {
    width: 335px;
    margin-top: 20px;
    margin-right: 20px
}

.contact-col-form {
    margin: 0 0 2em;
    clear: none
}

.contact-col-content {
}

.content-row {
    margin: 0;
    padding: 8px 0;
    border-top: solid 1px #f1f1f1
}

.content-row:first-child {
    border-top-style: none
}

.row-image {
    text-align: center;
    margin: 1px 0 10px;
    padding-top: 0
}

#restrictClose {
    background: url(//local.thethemeparkguy.com:50080/restriction/close.png) no-repeat;
    display: inline-block;
    width: 36px;
    height: 36px;
    overflow: hidden;
    text-indent: -1000px;
    position: absolute;
    top: 5px;
    right: 5px
}

.fancybox-skin {
    background-color: #fff!important
}

.fancybox-inner #subscribethread {
    min-width: 550px
}

.fancybox-inner .fancybox-hide {
    display: none
}

.subscribe-box {
    font-size: 13px;
    padding: 0!important;
    border-radius: 8px!important
}

.subscribe-box * {
    font-size: 13px
}

.subscribe-box .blockhead {
    border-style: none;
    background-color: #b33423;
    background-image: none;
    color: #fff;
    font-size: 22px;
    font-weight: 400;
    padding: 15px;
    margin: 0;
    line-height: normal
}

.subscribe-box .blockhead span {
    font-size: 22px
}

.subscribe-box .formcontrols {
    border-style: none
}

.subscribe-box .formcontrols .blockrow {
    padding: 10px;
    border-style: none
}

.subscribe-box .formcontrols .blockrow .primary,.subscribe-box input.textbox,.subscribe-box select {
    font-size: 18px;
    padding: 5px 7px;
    width: 320px;
    border: solid 1px #ccc;
    border-radius: 0!important
}

.subscribe-box input {
    height: auto!important
}

.subscribe-box select {
    height: 34px!important
}

.subscribe-box .formcontrols .blockrow label {
    font-size: 18px;
    margin: 7px 10px 0 0;
    width: 150px;
    text-align: right
}

.subscribe-box #subscribethread .actionbuttons {
    padding: 0 0 15px
}

.subscribe-box #subscribethread .actionbuttons .group {
    border-style: none;
    padding: 10px 0 0;
    text-align: center
}

.subscribe-box #subscribethread .actionbuttons .group .button {
    font-size: 14px
}

.subscribe-box #subscribethread .actionbuttons .group .button {
    background-color: #b33423;
    border: none;
    color: #fff;
    font-size: 18px;
    padding: 7px 15px;
    margin: 0;
    background: -webkit-linear-gradient(#FF8C97,#B33423);
    background: -o-linear-gradient(#FF8C97,#B33423);
    background: -moz-linear-gradient(#FF8C97,#B33423);
    background: linear-gradient(#FF8C97,#B33423);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px
}

.subscribe-box #subscribethread .actionbuttons .group .button:hover {
    background: linear-gradient(#FFABB3,#D63F2B)
}

.subscribe-box .blockfoot,.blocksubfoot {
    padding: 0
}

.subscribe-box .errors {
    margin-left: 160px;
    padding: 3px 0 0;
    font-size: 16px;
    color: red
}

#new-post-box {
    position: relative;
    margin: 7px 0 15px;
    border: 3px solid #d3d3d3
}

#new-post {
    margin-left: -3px;
    overflow: hidden;
    height: 160px;
    position: relative;
    z-index: 100
}

#new-post li {
    border-left: 3px solid #d3d3d3
}

#new-post-box .slide-control.disabled {
    display: none
}

#new-post-box .slide-control {
    position: absolute;
    top: 56px;
    z-index: 5;
    width: 50px
}

#new-post-box .slide-control:after {
    content: " ";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0
}

#new-post-box .slide-control span {
    display: block;
    height: 47px;
    width: 29px;
    text-indent: -100px;
    overflow: hidden;
    zoom:1;filter: alpha(opacity=70);
    opacity: .7
}

#new-post-box .slide-control:hover {
    zoom:1;filter: alpha(opacity=100);
    opacity: 1
}

#new-post-box #slide-prev {
    left: -70px;
    padding-left: 10px;
    padding-right: 7px
}

#new-post-box #slide-next {
    right: -70px;
    padding-right: 10px;
    padding-left: 7px
}

#new-post-box #slide-prev span {
    float: left;
    background: url(/tpg/images/slideshow-arrows.png) no-repeat -80px 0
}

#new-post-box #slide-next span {
    float: right;
    background: url(/tpg/images/slideshow-arrows.png) no-repeat -24px 0
}

.navtabs {
    height: auto
}

.navtabs li a.navtab {
    height: auto;
    padding: 3px 10px;
    font-size: 14px
}

.navtabs li a.navtab:hover {
    background-color: #ed4e40;
    color: #fff
}

.navtabs li.selected a.navtab {
    height: auto
}

.navbar_search input {
    font-size: 14px;
    padding: 5px
}

.add-info-button {
    position: absolute;
    top: 5px;
    right: 5px
}

#add-info-box {
    position: absolute;
    right: 5px;
    top: 30px;
    z-index: 9999;
    border: 3px solid #d3d3d3;
    background-color: #fff;
    padding: 10px;
    font-size: 16px;
    display: none
}

@media only screen and (max-device-width: 768px) {
    #new-post-box #slide-prev {
        left:0
    }

    #new-post-box #slide-next {
        right: 0
    }

    #pagetitle .threadtitle {
        font-size: 26px
    }

    #pagetitle br {
        display: none
    }

    #pagetitle h1 .map img {
        vertical-align: top;
        margin-top: 8px
    }

    #pagetitle .twit {
        margin-top: -8px;
        margin-left: 2px
    }

    #pagetitle .subscribe {
        vertical-align: top;
        margin-top: 10px
    }

    .pagination span a,.pagination span.selected a {
        font-size: 24px;
        padding: 5px 15px
    }

    .below_postlist .pagination_bottom .pagination span a {
        font-size: 24px!important
    }

    #postpagestats_above {
        font-size: 22px;
        margin-right: 10px
    }

    .pagination span.prev_next a,.pagination span.first_last a {
        top: 0
    }

    .pagination span.prev_next a img,.pagination span.first_last a img {
        top: 0
    }

    

    .userstats dt {
        width: auto!important
    }
}

@media only screen and (max-device-width: 414px) and (orientation:portrait) {
    #new-post-box .slide-control span {
        margin-top:10px
    }

    #new-post-box #slide-prev {
        left: -20px;
        padding-left: 25px
    }

    #new-post-box #slide-next {
        right: -20px;
        padding-right: 25px
    }

    #pagetitle .threadtitle {
        font-size: 26px
    }

    #pagetitle br {
        display: none
    }

    #pagetitle h1 .map img {
        vertical-align: top;
        margin-top: 8px
    }

    #pagetitle .twit {
        margin-top: -8px;
        margin-left: 2px
    }

    #pagetitle .subscribe {
        vertical-align: top;
        margin-top: 10px
    }

    .pagination span a,.pagination span.selected a {
        font-size: 24px;
        padding: 5px 15px
    }

    .below_postlist .pagination_bottom .pagination span a {
        font-size: 24px!important
    }

    #postpagestats_above {
        font-size: 22px;
        margin-right: 10px
    }

    .pagination span.prev_next a,.pagination span.first_last a {
        top: 0
    }

    .pagination span.prev_next a img,.pagination span.first_last a img {
        top: 0
    }

    .postbit .postrow,.postbit .postrow,.postbit .posttitle {
        font-size: 30px;
        line-height: normal
    }

    .bbcode_quote div.quote_container {
        font-size: 30px;
        line-height: normal;
        padding: 20px
    }
}

.footer_copyright .row-1 {
    font-size: 13px;
    color: #000
}

.footer_copyright,.footer_morecopyright {
    font-family: arial,helvetica,clean,sans-serif;
    line-height: 20px
}

.featured-suppliers-box {
    border: 3px solid #d3d3d3;
    background-color: #f9f9f9;
    border-top: none;
    padding: 4px 15px 7px;
    width: 1011px;
    font-size: 15px
}

.featured-suppliers-box img {
    height: 25px;
    display: inline-block;
    margin: 0 10px -7px 5px
}

#tpccontent .threadlisthead a,#tpccontent .threadlisthead a:hover {
    font-size: 14px
}

.sorticon {
    display: inline-block;
    background: transparent url(../../images/misc/black_arrows.png) no-repeat center left;
    width: 18px;
    height: 13px;
    margin-left: 2px;
    margin-bottom: -2px
}

.sorticon.asc {
    background-image: url(../../images/misc/black_upward_arrow.png);
    margin-bottom: -1px
}

.sorticon.desc {
    background-image: url(../../images/misc/black_downward_arrow.png);
    margin-bottom: -1px
}

.threadviews {
    font-size: 13px;
    font-weight: 400;
    margin-top: 3px
}

.row-not-paying {
    background-color: #000;
    color: #fff;
    padding: 10px;
    text-align: center;
    margin: 10px -2px 10px 0
}

.section-error-list {
    padding: 15px;
    background-color: #f49090;
    color: #fff;
    font-size: 14px;
    text-align: center
}

.section-error-list h3 {
    font-weight: 700;
    margin-bottom: 5px
}
